html body{
    margin: 0;
    padding: 0;
}

.main-div{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 139);
    width: 100%;
    height: 100%;

}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    
    border-bottom: 3px solid rgb(255, 212, 132);

}
.heading-div{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    
}
#hero-heading{
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 600;   /* Medium weight instead of normal (400) */
    line-height: 1.6;
    box-sizing: border-box;

    text-shadow: 0px 0px 3px white;
}

.numValue{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.num{
    text-align: center;
    padding: 5px;
    font-family: fantasy;
    font-size: 55px;
    font-weight: 200;
    width: 20%;
    color: #ffffff;
    background-color: rgb(0, 0, 139);
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 6px;
}
.btn-div{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px;
    font-size: 22px;
    border-radius: 4px;
    outline: none;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    
    box-shadow: 0px 0px 3px lightgrey;
    transition: all 0.3s ease;
    
    width: clamp(50px, 50vw, 150px);
    
}
#btn:active{
    border: 2px solid yellowgreen;
    background-color: yellowgreen;
    color: #ffffff;
    box-shadow: 0px 0px 3px lightgrey;

    transform: scale(0.97)
}
.inner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 47%;
    min-height: 100px;
    color: white;
    background-color: rgb(11, 11, 87);
    border-radius: 10px;
    border: 1px solid white;
    
    padding-top: 15px;
    padding-bottom: 0px;

}
.inner{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: black;
}
#first-box{
    margin-top: 30px;
}
#last-box{
    margin-bottom: 20px;
}

.inner-box h3{
    display: block;
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(150, 105, 150);

    overflow-wrap: break-word;
    word-break: break-word;
}
.desp{
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#error-hdl{
    font-size: 21px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}